#rubik-face {
  background-color: black;
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: fit-content;
  padding: 4px;
  grid-gap: 4px;
  margin: 0 auto;
}

div#rubik-face div {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

div#rubik-face div:nth-child(1) {
  background-color: yellow;
  border-bottom-right-radius: 5px;
}
div#rubik-face div:nth-child(2) {
  background-color: blue;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

div#rubik-face div:nth-child(3) {
  background-color: green;
  border-bottom-left-radius: 5px;
}

div#rubik-face div:nth-child(4) {
  background-color: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

div#rubik-face div:nth-child(5) {
  background-color: blue;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

div#rubik-face div:nth-child(6) {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
div#rubik-face div:nth-child(7) {
  background-color: yellow;
  border-top-right-radius: 5px;
}
div#rubik-face div:nth-child(8) {
  background-color: red;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
div#rubik-face div:nth-child(9) {
  background-color: green;
  border-top-left-radius: 5px;
}

div#rubik-face > tbl > tbody > tr > td[1] {
  background-color: red;
}

@media (max-width: 768px) {
  div#rubik-face div {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  div#rubik-face div {
    width: 25px;
    height: 25px;
  }

  #rubik-face {
    padding: 3px;
    grid-gap: 3px;
  }
}

@media (max-width: 320px) {
  div#rubik-face div {
    width: 20px;
    height: 20px;
  }

  #rubik-face {
    padding: 2px;
    grid-gap: 2px;
  }
}
